.home-div {
  /* border: 1px solid red; */
  padding: 10px;
  margin: 10px;
}
/* Footer.css */

/* Footer.css */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #5591ce; /* Set background color */
  padding: 10px 0; /* Add padding for content */
  text-align: center; /* Center align text */
  height: 50px; /* Set the height of the footer */
}

